<div class="container container-fluid" data-ng-controller="config.CarrierLanguageCtrl">
    <div class="container-fluid pagetop span12">
        <div class="control-group span4">
            <label class="control-label" for="carrierid">Carrier</label>
            <div class="controls">
                <select id="carrierid" data-ng-model="carrier" class="input-block-level"   ng-options="carrier.Description for carrier in carriers">
                </select>
            </div>
        </div>
    </div>
    <div class="container-fluid  span10">
        <div class="control-group span4">
            <label class="control-label" for="languages">Languages</label>
            <div class="controls">
                <select id="languages" data-ng-model="language"  multiple class="input-block-level"  ng-options="language.Description for language in availableLanguages">
                </select>
            </div>
        </div>
        <div class="control-group span1">
            <label class="control-label">&nbsp;</label>
            <div class="controls button-section">
                <a data-toggle="modal" class="btn" id="rightNavMenu" data-ng-click="moveItem(language[0], availableLanguages, selectedLanguages, true)">>></a>
                <br/><br/>
                <a data-toggle="modal" class="btn" id="leftNavMenu" data-ng-click="moveItem(carrierLanguage[0], selectedLanguages, availableLanguages, false)"><<</a>
            </div>
        </div>
        <div class="control-group span4">
            <label class="control-label" for="carrierlanguages">Carrier Languages</label>
            <div class="controls">
                <select id="carrierlanguages" data-ng-model="carrierLanguage"  multiple class="input-block-level"  ng-options="selectedLanguage.Description for selectedLanguage in selectedLanguages">
                </select>
            </div>
        </div>
    </div>
</div>