
<div class="container container-fluid formcenter" data-ng-controller="login.ChangePasswordCtrl">
    <form name="userform">
        <div class="form-horizontal span5">

            <div class="control-group">
                <label class="control-label" for="oldpassword">Old Password</label>
                <div class="controls">
                    <input type="password" data-ng-model="oldpassword" id="oldpassword" name="oldpassword"  class="input-block-level" >
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="newpassword">New Password</label>
                <div class="controls">
                    <input type="password" data-ng-model="newpassword" id="newpassword" name="newpassword" class="input-block-level" >
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="confirmpassword">Confirm Password</label>
                <div class="controls">
                    <input type="password" data-ng-model="confirmpassword" id="confirmpassword" name="confirmpassword" class="input-block-level" >
                </div>
            </div>
            <div class="controls">
                <div class="button-section section">
                    <a class="btn" data-ng-click="SavePassword()">Save</a>
                    <a class="btn" data-ng-click="RedirectHome()">Cancel</a> <br/><br/>
                    <label class="text-error" data-ng-show="validationError.length > 0">{{validationError}}</label>
                    <label class="text-success" data-ng-show="saved">{{msg}}</label>
                </div>
            </div>
        </div>
    </form>
</div>