<div class="container" data-ng-controller="config.UniversalScriptsCtrl" data-ng-click="showSearchBox($event)">    
    <div class="header">
		<div class="modal-title">
			<div class="row">
				<div class="span3">
					<h4>Universal Scripts</h4>
				</div>
				<div class="span4">
					<label style="display: none;" class="text-success" data-ng-show="successMsg != ''">{{successMsg}}</label>
				</div>
			</div>	
		</div>
    </div>
    <div class="body">
	    <div class="row">
	    	<div class="span7 control-group">
	    		<button id="addBtn" class="btn" data-ng-click="addUniversalScript(-1)" data-ng-disabled="scriptHeading == 'Create Universal Script'" data-ng-show="creator && !fromDash">Add</button>
		    	<button id="removeBtn" class="btn" data-ng-disabled="selUniversalScriptIds.length == 0" data-ng-click="showRemoveConfirmation()" data-ng-show="creator && !fromDash">Remove</button>
		    	<button id="historyBtn" class="btn" data-ng-disabled="selUniversalScriptIds.length > 1 || selUniversalScriptIds.length == 0" data-toggle="modal" modal-dialog-url="history" data-backdrop="static" data-target="#historyModalPanel" data-ng-show="(creator || administrator) && !fromDash">History</button>
	    	</div>
	    	<div class="span4 sliding-header sliding hide">
				<div class="header">
					<h4 class="modal-title">{{scriptHeading}}</h4>
			    </div>
			</div>
	    </div>
	    <div class="row">
		    <div class="span7 notes text-right">
	    		* Click on the header to toggle search text
	    	</div>
	    </div>
	    <div class="row">
	    	<div id="universalScriptList" class="span7 tableContainer">
			    <table class="table table-striped table-hover mainTable scrollTable">
					<thead class="fixedHeader">
			          <tr>
			            <th style="width:30px !important">
			            	<input type="checkbox" class="form-control" data-ng-model="chkAllUniversalScripts" data-ng-disabled="fromDash || reviewer || administrator || allUniversalScripts.length == 0 || (allUniversalScripts | filter:search:strict).length == 0" data-ng-readonly="fromDash || reviewer || administrator" data-ng-click="selAllUniversalScripts($event, (allUniversalScripts | filter:search:strict))"/>
			            </th>
			            <th id="codeHeader" style="width:220px !important">
			            	<span id="codeHeaderLbl" data-ng-show="showCodeSearch == false">Code</span>
			            	<input maxlength="25" style="display: none;" type="text" id="txtCode" data-ng-model="search.Code" placeholder="Code"  class="space-restriction" data-ng-show="showCodeSearch == true" data-ng-change="clearSearchFields(); selAllUniversalScripts(null, (allUniversalScripts | filter:search:strict))"/>
			            </th>
			             <th id="descHeader" style="width:220px !important">
			            	<span id="descHeaderLbl" data-ng-show="showDescSearch == false">Description</span>
			            	<input maxlength="25" style="display: none;" type="text" id="txtDesc" data-ng-model="search.Description" placeholder="Description"  class="space-restriction" data-ng-show="showDescSearch == true" data-ng-change="clearSearchFields(); selAllUniversalScripts(null, (allUniversalScripts | filter:search:strict))"/>
			            </th>
						<th id="stateHeader" style="width:90px !important">
			            	<span id="stateHeaderLbl">Status</span>			            	
			            </th>
						<th id="commentHeader" style="width:100px !important">
			            	<span id="commentHeaderLbl">Comment</span>			            	
			            </th>
			          </tr>
			        </thead>
					<tbody data-ng-class="{'scrollContent' : allUniversalScripts.length > 0}">
						<tr ng-repeat="locale in allUniversalScripts | filter:search:strict" data-ng-dblclick="addUniversalScript($index, locale.Comments, (allUniversalScripts | filter:search:strict))">
							<td style="width:30px !important">
								<input type="checkbox" class="form-control" value="{{locale.Code}}" id="{{locale.Id}}" data-ng-click="getSelUniversalScriptIds($event, (allUniversalScripts | filter:search:strict))" data-ng-disabled="fromDash || locale.Status.Status != 'APPROVED'" data-ng-readonly="fromDash || locale.Status.Status != 'APPROVED'" />
							</td>
							<td style="width:220px !important;word-break: break-all" title="{{locale.Code}}. Double click on the row to modify." data-ng-bind="locale.Code | LimitCharacter"></td>
							<td style="width:220px !important;word-break: break-all" title="{{locale.Description}}. Double click on the row to modify." data-ng-bind="locale.Description | LimitCharacter"></td>
							<td style="width:90px !important;word-break: break-all" title="{{locale.Status.Status}}. Double click on the row to modify." data-ng-bind="locale.Status.Status | LimitCharacter"></td>
							<td style="width:100px !important;word-break: break-all" title="{{locale.Comments}}. Double click on the row to modify." data-ng-bind="locale.Comments | LimitCharacter"></td>
						</tr>
						<tr data-ng-show="allUniversalScripts.length == 0" class="emptyTable">
                             <td colspan="5"><label>No universal scripts found</label></td>
                         </tr>
					</tbody>
				</table>
			</div>
			<div class="row sliding-body sliding hide container span5">
				<form name="universalScriptForm">
					<div id="universalScriptDetails" resize="290">
						<div class="span4">
							<div class="control-group row">
				                <label class="control-label span1" for="code">Code</label>
				                <div class="controls row-fluid">
				                    <input data-ng-disabled="universalScript.Id" id="code" class="span7" name="code" maxlength="100" title="{{universalScript.Code}}" data-ng-model="universalScript.Code" type="text" required data-ng-readonly="reviewer || administrator || readOnlyStatus || (fromDash && !readOnlyStatus)">
				                    <div class="control-group row">
				                    	<span class="span4"></span><span class="text-error" data-ng-show="universalScriptForm.code.$error.required && firsttime">Code is Required</span>				                    	
				                    	<span class="text-error" data-ng-show="existCode">Code is already exists</span>
				                    </div>
				                </div>
				            </div>
				            <div class="control-group row">
				                <label class="control-label span1" for="description">Description</label>
				                <div class="controls row-fluid">
				                    <textarea rows="3" class="span7" maxlength="5000" id="description" name="description" data-ng-model="universalScript.Description" required data-ng-readonly="reviewer || administrator || readOnlyStatus || (fromDash && readOnlyStatus)"></textarea>
				                    <div class="control-group row">
										<span class="span4"></span><span class="text-error" data-ng-show="universalScriptForm.description.$error.required && firsttime">Description is Required</span>
									</div>                   
				                </div>
				            </div>
				            <div class="control-group row" ng-repeat="errorLocale in universalScript.ErrorLocaleDetails">
								<label class="control-label span1" for="errorLocale{{errorLocale.LanguageId}}">{{errorLocale.Language}}</label>
				                <div class="controls row-fluid">
				                    <textarea rows="3" class="span7" maxlength="5000" id="errorLocale{{errorLocale.LanguageId}}" name="errorLocale{{errorLocale.LanguageId}}" data-ng-model="errorLocale.Value" required data-ng-readonly="reviewer || administrator || readOnlyStatus || (fromDash && readOnlyStatus)"></textarea>
				                    <div class="control-group row">
										<span class="span4"></span><span class="text-error" data-ng-show="!errorLocale.Value && firsttime">{{errorLocale.Language}} value is Required</span>
									</div>                  
				                </div>
							</div>
							<div class="container span5 carrierNavSection">
						        <div class="control-group span1 carrierSelection">
						            <label class="control-label" for="carriers">Carriers</label>
						            <div class="controls">
						                <select id="carriers" data-ng-model="carrier" multiple class="input-block-level"  ng-options="carrier.Description for carrier in availableCarriers" data-ng-disabled="reviewer || administrator || readOnlyStatus || (fromDash && readOnlyStatus)">
						                </select>
						            </div>
						        </div>
						        <div class="control-group span1 carrierNavigation">
						            <label class="control-label">&nbsp;</label>
						            <div class="controls button-section">
						                <a data-toggle="modal" class="btn" id="rightNavMenu" data-ng-click="moveItem(carrier, availableCarriers, universalScript.Carriers, true)" data-ng-disabled="reviewer || administrator || readOnlyStatus || (fromDash && readOnlyStatus)">>></a>
						                <br/><br/>
						                <a data-toggle="modal" class="btn" id="leftNavMenu" data-ng-click="moveItem(selectedCarrier, universalScript.Carriers, availableCarriers, false)" data-ng-disabled="reviewer || administrator || readOnlyStatus || (fromDash && readOnlyStatus)"><<</a>
						            </div>
						        </div>
						        <div class="control-group span1 carrierSelection">
						            <label class="control-label" for="selectedCarriers">Selected Carriers</label>
						            <div class="controls">
						                <select id="selectedCarriers" name="selectedCarriers" data-ng-model="selectedCarrier" multiple class="input-block-level" ng-options="selectedCarrier.Description for selectedCarrier in universalScript.Carriers" data-ng-disabled="reviewer || administrator || readOnlyStatus || (fromDash && readOnlyStatus)">
						                </select>
						                <div class="text-center">
											<span class="text-error" data-ng-show="universalScript.Carriers.length == 0 && firsttime">Atleaset one carrier is Required</span>
										</div>
						            </div>
						        </div>
						    </div>
							<div class="control-group row" data-ng-hide="creator && !Comments">
								<label class="control-label span1" for="comment">Comment</label>
								<div class="controls row-fluid">
									<textarea rows="3" class="span7" id="comments" name='comments' class="input-block-level" data-ng-model="universalScript.Comments" data-ng-readonly="creator || administrator || (creator && readOnlyStatus)" data-ng-required="reviewer" maxlength="200"></textarea>
									<div class="control-group row">
										<span class="span4"></span><span class="text-error" data-ng-show="universalScriptForm.comments.$error.required && firsttime">Comment is Required</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span5">
							<div class="control-group">
				                <div class=" button-section section">
				                    <a data-toggle="modal" class="btn" data-ng-click="saveUniversalScript((allUniversalScripts | filter:{Code : universalScript.Code}).length)" id="saveBtn" data-ng-show="creator && !readOnlyStatus && !(fromDash && readOnlyStatus)">Save</a>
				                    &nbsp;&nbsp;&nbsp;<a data-toggle="modal" class="btn" data-ng-click="cancelUniversalScript()" id="cancelBtn" data-ng-show="(creator && readOnlyStatus) || creator || administrator">Cancel</a>
									<a class="btn" data-ng-show="reviewer" data-ng-click="approverUniversalScript('APPROVED')" class="btn"  id="approveUniversalScriptBtn">Approve</a>
									&nbsp;&nbsp;&nbsp;<a class="btn" data-ng-show="reviewer" data-ng-click="approverUniversalScript('REJECTED')" class="btn"  id="rejectUniversalScriptBtn">Reject</a>
									&nbsp;&nbsp;&nbsp;<a class="btn" data-ng-hide="hideReview" data-ng-click="approverUniversalScript('REVIEWED')" class="btn"  id="reviewUniversalScriptBtn">Review</a>
				                </div>
				            </div>
						</div>
					</div>					
				</form>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="removeScriptModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" >&times;</button>
					<h4 class="modal-title" id="myModalLabel">Remove Universal Scripts</h4>
				</div>
				<div class="modal-body">
					Do you want to remove the selected universal scripts?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="removeUniversalScripts()">OK</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="removeScriptModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" >&times;</button>
					<h4 class="modal-title" id="myModalLabel">Remove Universal Scripts</h4>
				</div>
				<div class="modal-body">
					Do you want to remove the selected universal scripts?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="removeUniversalScripts()">OK</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="historyModalPanel" class="modal hide fade"></div>
</div>
